{{#sticky-container options=myStickyOptions}}

  <!--  GardenPlants -->
  <div id="drag-alert"></div>
    {{#draggable-object-target action="dragResultGarden" resultText='Drag is Complete' dragOverAction='draggingOverGardenTarget' dragOutAction='gardenDragTarget' overrideClass='dropTarget'}}
    <div id="target-garden" class="list-group">
      <h5 style="margin-top:0;" class="list-group-item active">{{currentUser.name}} Garden</h5>
      {{#each currentUser.garden as |gardenPlant|}}
        <a data-toggle="modal" data-target="#gardenPlant-{{gardenPlant.id}}" class='list-group-item'>{{gardenPlant.name}}</a>

        <!-- GardenPlant Modal -->
        <div id="gardenPlant-{{gardenPlant.id}}" class="modal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <span class="label label-info">Garden</span>
                {{#if editGardenPlantName}}
                  {{input value=gardenPlant.name class='form-control col-lg-4' insert-newline='editSubmit'}}
                {{else}}
                  <h4 {{action 'toggleGardenPlantNameEdit' gardenPlant on="doubleClick"}} class="modal-title">{{gardenPlant.name}}</h4>
                {{/if}}
              </div>
              <div class="modal-body">
                <p><strong>Species: </strong>{{gardenPlant.plant.name}}</p>
                <img src={{gardenPlant.plant.imageUrl}} style="width:100%;">
                <p><strong>Average Rating: </strong>{{gardenPlant.plant.avgRating}}</p>
                <p><strong>Description: </strong>{{gardenPlant.plant.description}}</p>
                <p><strong>Light: </strong>{{gardenPlant.plant.light}}</p>
                <p><strong>Water: </strong>{{gardenPlant.plant.water}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" {{action "deleteUserPlant" gardenPlant}} data-dismiss="modal" class="btn btn-primary" name="button">Remove From Garden</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END GardenPlant Modal -->
        {{/each}}
      </div>
      {{/draggable-object-target}}
      <!-- END GardenPlant -->

  <!-- Wishlist -->
  <div id="drag-alert"></div>
  {{#draggable-object-target action="dragResultWishlist" resultText='Drag is Complete' dragOverAction='draggingOverWishlistTarget' dragOutAction='wishlistDragTarget' overrideClass='dropTarget'}}
  <div id="target-wishlist" class="list-group">
    <h5 style="margin-top:0;" class="list-group-item active">{{currentUser.name}}'s Wishlist</h5>
    {{#each currentUser.wishlist as |wishlistPlant|}}
    <a data-toggle="modal" data-target="#wishlistPlant-{{wishlistPlant.id}}" class='list-group-item'>{{wishlistPlant.name}}</a>
    <!-- Wishlist Modal -->
    <div id="wishlistPlant-{{wishlistPlant.id}}" class="modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <span class="label label-info">Wishlist</span>
            <h4 class="modal-title">{{wishlistPlant.name}}</h4>
          </div>
          <div class="modal-body">
            <p><strong>Species: </strong>{{wishlistPlant.plant.name}}</p>
            <img src={{wishlistPlant.plant.imageUrl}} style="width:100%;">
            <p><strong>Average Rating: </strong>{{wishlistPlant.plant.avgRating}}</p>
            <p><strong>Description: </strong>{{wishlistPlant.plant.description}}</p>
            <p><strong>Light: </strong>{{wishlistPlant.plant.light}}</p>
            <p><strong>Water: </strong>{{wishlistPlant.plant.water}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" {{action "deleteUserPlant" wishlistPlant}} data-dismiss="modal" class="btn btn-primary" name="button">Remove From Wishlist</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{!-- END Wishlist MODAL   --}}
    {{/each}}
  </div>
  {{/draggable-object-target}}
{{/sticky-container}}
