<div class="row">
  <!-- Sidebar -->
  <div class="col-xs-3">
    <!--  GardenPlants -->
    <div id="drag-alert"></div>
    {{#draggable-object-target action="dragResultGarden" resultText='Drag is Complete' dragOverAction='draggingOverGardenTarget' dragOutAction='gardenDragTarget' overrideClass='dropTarget'}}
      <div id="target-garden" class="list-group">
        <h5 style="margin-top:0;" class="list-group-item active">{{currentUser.name}} Garden</h5>
        {{#each currentUser.garden as |gardenPlant|}}
            <a data-toggle="modal" data-target="#gardenPlant-{{gardenPlant.id}}" class='list-group-item'>{{gardenPlant.name}}</a>

            <!-- GardenPlant Modal -->
            <div id="gardenPlant-{{gardenPlant.id}}" class="modal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <span class="label label-info">Garden</span>
                    <h4 class="modal-title">{{gardenPlant.name}}</h4>
                  </div>
                  <div class="modal-body">
                    <p><strong>Species: </strong>{{gardenPlant.plant.name}}</p>
                    <img src={{gardenPlant.plant.imageUrl}} style="width:100%;">
                    <p><strong>Average Rating: </strong>{{gardenPlant.plant.avgRating}}</p>
                    <p><strong>Description: </strong>{{gardenPlant.plant.description}}</p>
                    <p><strong>Light: </strong>{{gardenPlant.plant.light}}</p>
                    <p><strong>Water: </strong>{{gardenPlant.plant.water}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END GardenPlant Modal -->
        {{/each}}
      </div>
    {{/draggable-object-target}}
    <!-- END GardenPlant -->

    <!-- Wishlist -->
    <div id="drag-alert"></div>
    {{#draggable-object-target action="dragResultWishlist" resultText='Drag is Complete' dragOverAction='draggingOverWishlistTarget' dragOutAction='wishlistDragTarget' overrideClass='dropTarget'}}
      <div id="target-wishlist" class="list-group">
        <h5 style="margin-top:0;" class="list-group-item active">{{currentUser.name}}'s Wishlist</h5>
        {{#each currentUser.wishlist as |wishlistPlant|}}
            <a data-toggle="modal" data-target="#wishlistPlant-{{wishlistPlant.id}}" class='list-group-item'>{{wishlistPlant.name}}</a>

            <!-- Wishlist Modal -->
            <div id="wishlistPlant-{{wishlistPlant.id}}" class="modal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <span class="label label-info">Wishlist</span>
                    <h4 class="modal-title">{{wishlistPlant.name}}</h4>
                  </div>
                  <div class="modal-body">
                    <p><strong>Species: </strong>{{wishlistPlant.plant.name}}</p>
                    <img src={{wishlistPlant.plant.imageUrl}} style="width:100%;">
                    <p><strong>Average Rating: </strong>{{wishlistPlant.plant.avgRating}}</p>
                    <p><strong>Description: </strong>{{wishlistPlant.plant.description}}</p>
                    <p><strong>Light: </strong>{{wishlistPlant.plant.light}}</p>
                    <p><strong>Water: </strong>{{wishlistPlant.plant.water}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END Wishlist Modal -->
        {{/each}}
      </div>
    {{/draggable-object-target}}
    <!-- END Wishlist -->
  </div>
  <!-- END Sidebar -->

  <!-- Plants Index -->
  <div class="col-xs-9">
    <div class="crazy-row">
      <!-- List of all of the plants -->
      {{#each model as |plant|}}
      <div id="card" class="col-sm-4">
        {{#draggable-object content=plant dragStartAction='dragStart' dragEndAction='dragEnd' overrideClass='dragObject'}}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="#" data-toggle="modal" data-target="#{{plant.id}}"> {{plant.name}}</a></h3>
          </div>
          <img src={{plant.imageUrl}} style="width:100%;" >
          <div class="panel-body">
            <p style="margin-top:10px; font-size:11px;">{{plant.description}}</p>
          </div>
        </div>
        {{/draggable-object}}
      </div>

    <!-- Plant Modal content-->
      <div id="{{plant.id}}" class="modal fade col-12" role="dialog">
        <div class="modal-dialog modal-sm modal-lg">
          <div class="modal-content">
            <div class="modal-header" >
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><strong>{{plant.name}}</strong></h4>
            </div>

            <!-- BEGIN LEFT HALF OF MODAL -->
            <div id="left-half" class="col-lg-6 col-md-6 col-sm-12"> 
              <div class="modal-body">
                <img src={{plant.imageUrl}} style="width:100%;" >
              </div>
              {{#if reviewFormVisible}}
                <form {{action "submitReview" plant on="submit"}}>
                  <div class="form-group">
                    <div class="row">
                     <label for="rating" class="col-lg-1 control-label">Rating</label>
                     <div class="col-lg-6">
                       {{view "select" content=ratings value=selectedRating prompt="Please Select A Rating" classNames="form-control"}}
                     </div>
                   </div>
                    {{input value=reviewContent class='form-control col-lg-4' placeholder="Review Plant"}}
                  <input class="btn btn-primary" type="submit" value="Add Review"/>
                  <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
                </div>
                </form>
              {{else}}
                <button class="btn btn-primary" type="button" name="button" {{action "showReview"}}>Add A Review</button>
              {{/if}}
            </div>

            <!-- END LEFT HALF OF MODAL -->

            <!-- BEGIN RIGHT HALF OF MODAL -->
            <div id="right-half" class="col-lg-6 col-md-6 col-sm-12">
              <div class="modal-body">
                <p><strong>Average Rating: </strong>{{plant.avgRating}}</p>
                <p><strong>Description: </strong>{{plant.description}}</p>
                <p><strong>Light: </strong>{{plant.light}}</p>
                <p><strong>Water: </strong>{{plant.water}}</p>
              </div>
              <div class="modal-body">
                <h4>Reviews</h4>
                {{#each plant.reviews as |review|}}
                  <div class="panel panel-default">
                    <div class="panel-heading"><strong>Rating: {{review.rating}}</strong>
                      <br>by {{review.reviewer}} at {{review.time}}
                    </div>
                    <div class="panel-body">
                      {{review.content}}
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
            <!-- END RIGHT HALF OF MODAL -->

            <div class="modal-footer">
              <button type="button"  class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Plant Modal content END-->
    {{/each}}

    </div>
    {{outlet}}
  </div>
  <!-- END Plants Index -->
</div>
