
{{#each model as |plant|}}
<div class="col-sm-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{link-to plant.name "plants.plant" plant }}</h3>
    </div>
      <img style="width:100%;"{{bind-attr src=plant.imageUrl}} >
    <div class="panel-body">
      <p style="margin-top:10px; font-size:11px;">{{plant.description}}</p>
    </div>
  </div>
</div>
{{/each}}

<!-- {{link-to "Add New Plant" "plants.new"}} -->
{{outlet}}


