<div class="container">

  <!-- Sidebar -->
  {{partial "plants/sidebar"}}
  <!-- END Sidebar -->

  <!-- Plants Index -->
  <div class="col-xs-9">
    <div class="crazy-row">
      <!-- List of all of the plants -->
      {{#each model as |plant|}}
      <div id="card" class="col-sm-4">
        {{#draggable-object content=plant dragStartAction='dragStart' dragEndAction='dragEnd' overrideClass='dragObject'}}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="#" data-toggle="modal" data-target="#{{plant.id}}"> {{plant.name}}</a></h3>
          </div>
          <img src={{plant.imageUrl}} style="width:100%;" >
          <div class="panel-body">
            <p style="margin-top:10px; font-size:11px;">{{plant.description}}</p>
          </div>
        </div>
        {{/draggable-object}}
      </div>

      <!-- Modal content-->
      <div id="{{plant.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{plant.name}}</h4>
            </div>
            <div class="modal-body">
              <p>{{plant.description}}</p>
            </div>
            <div class="modal-body">
              <img src={{plant.imageUrl}} style="width:100%;" >
            </div>
            <div class="modal-footer">
              <button type="button"  class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal content END-->
      {{/each}}

    <!-- END Plants Index -->
    </div>
  </div>
  {{!-- CONTAINER END --}}
</div>
