
{{#each model as |plant|}}
  <h4>{{link-to plant.name "plants.plant" plant }}</h4>
  <img {{bind-attr src=plant.imageUrl}} >
  <p><strong>Description: </strong>{{plant.description}}</p>
{{/each}}

{{link-to "Add New Plant" "plants.new"}}
{{outlet}}
