<div class="jumbotron text-center">
<h1>{{model.name}}</h1>
  <img {{bind-attr src=model.imageUrl}} >
  <p><strong>Description: </strong>{{model.description}}</p>
  <p><strong>Light: </strong>{{model.light}}</p>
  <p><strong>Water: </strong>{{model.water}}</p>
  <p>{{link-to "Edit info" "plants.edit" model}}</p>
  <button {{action "delete" model}}>Delete Plant</button>
</div>
<div class="row">
  <h1>Reviews</h1>
  <ul>
    {{#each model.reviews as |review|}}
      <li>{{review.content}}</li>
    {{/each}}
  </ul>
  <!-- Add Review Form -->
  {{#if reviewFormVisible}}
    <div class="form-group">
      {{input value=model.reviews.lastObject.content class='form-control col-xs-4' placeholder="Review Plant"}}
      <button type="button" name="button" {{action "submitReview"}}>Submit Review</button>
    </div>
  {{else}}
    <button type="button" name="button" {{action "showReview"}}>Add A Review</button>
  {{/if}}
</div>
