<div class="jumbotron text-center">
<h1>{{model.name}}</h1>
  <img src={{model.imageUrl}} >
  <p><strong>Average Rating: </strong>{{model.avgRating}}</p>
  <p><strong>Description: </strong>{{model.description}}</p>
  <p><strong>Light: </strong>{{model.light}}</p>
  <p><strong>Water: </strong>{{model.water}}</p>
  <p>{{link-to "Edit info" "plants.edit" model}}</p>
  <button {{action "delete" model}}>Delete Plant</button>
</div>
<div class="row">
  <h1>Reviews</h1>

    {{#each model.reviews as |review|}}
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Rating: {{review.rating}}</strong>
          <br>by {{review.reviewer}} at {{review.time}}
        </div>
        <div class="panel-body">
          {{review.content}}
        </div>
      </div>
    {{/each}}

  <!-- Add Review Form -->
  {{#if reviewFormVisible}}
  <form {{action "submitReview" on="submit"}}>
    <div class="form-group">
      <div class="row">
       <label for="rating" class="col-lg-1 control-label">Rating</label>
       <div class="col-lg-4">
         {{view "select" content=ratings value=selectedRating prompt="Please Select A Rating" classNames="form-control"}}
       </div>
     </div>
      {{input value=reviewContent class='form-control col-lg-4' placeholder="Review Plant"}}
    <input type="submit" value="Add Review"/>
    <button {{action "cancel"}}>Cancel</button>
  </div>
  </form>
  {{else}}
    <button type="button" name="button" {{action "showReview"}}>Add A Review</button>
  {{/if}}
</div>
