<div class="">
<h1>{{model.name}}</h1>
  <img {{bind-attr src=model.imageUrl}} >
  <p><strong>Description: </strong>{{model.description}}</p>
  <p><strong>Light: </strong>{{model.light}}</p>
  <p><strong>Water: </strong>{{model.water}}</p>
  <p>{{link-to "Edit info" "plants.edit" model}}</p>
  <button {{action "delete" model}}>Delete Plant</button>
</div>
