<div class="container-fluid">
  <h1>Dashboard</h1>

  <div class="container">
    <h1>Username: <strong>{{model.name}}</strong></h1>
    <h3>email: <strong>{{model.email}}</strong></h3>
    {{!-- <h3>email: <strong>{{model.email}}</strong></h3> --}}
  </div>

  <div class="container">
    <h3>Plants in your garden: <strong>{{ model.garden.length}}</strong></h3>
    {{!-- <h3>Plant Species count(pending): <strong>{{model.garden.length}}</strong></h3> --}}
  </div>

  <div class="container">
    <h3>Reviews Count: <strong>{{model.reviews.length}}</strong></h3>
  </div>

</div>

{{outlet}}
